.microblog_timeline {}

.microblog_post {
    background-color: #fcfcfc;
    box-shadow: 0 10px 25px 0 #e8e8e8;
    margin: 2.5em 0;
    padding: 0.1em 1em 1em 1em;
}

.microblog_text > p > img {
    width: initial;
}

.microblog_time {
    background-color: #0d7b76;
    color: #f8f8f8;
    float: right;
    font-family: 'Fira Sans';
    font-size: smaller;
    padding: 0 10px;
    text-transform: uppercase;
}